<div class="container">
   <h1> ngx-scanner-qrcode </h1>

   <!-- devices -->
   <!-- <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 my-1">
         <select #select1 (change)="action.playDevice(select1.value)" class="form-select form-select-sm">
            <option [value]="null" selected>Select device</option>
            <option *ngFor="let c of action.devices.value; let i = index" [value]="c.deviceId"
               [selected]="i == action.deviceIndexActive">{{c.label}}</option>
         </select>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 my-1">
         <select #select2 (change)="action.decode = select2.value" class="form-select form-select-sm">
            <option value="utf-8" [selected]="action.decode == 'utf-8'">UTF-8</option>
            <option value="iso-8859-15" [selected]="action.decode == 'iso-8859-15'">ISO-8859-15</option>
            <option value="windows-1252" [selected]="action.decode == 'windows-1252'">Windows-1252</option>
            <option value="macintosh" [selected]="action.decode == 'macintosh'">Macintosh</option>
         </select>
      </div>
   </div> -->

   <!-- ngx-scanner-qrcode -->
<div class="row">
   <div class="col-md-6 col-lg-6 mx-auto">
      <ngx-scanner-qrcode #action="scanner" [isBeep]="true" [config]="config"
         (event)="onEvent($event, action)"></ngx-scanner-qrcode>
   </div>
</div>
   <!-- data  -->
   <!-- <p class="data">{{ (action.data | async | json) }}</p> -->
   <!-- QR Code Data Display -->
   <div class="qr-code-result" *ngIf="scannedValue !== ''">
      <h3>QR Code Result</h3>
      <p class="data">{{ scannedValue }}</p>
   </div>

   <!-- loading -->
   <p *ngIf="action.isLoading">⌛ Loading...</p>

   <!-- start/stop -->
   <button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart"
      [disabled]="action.isLoading" (click)="handle(action, action.isStart ? 'stop' : 'start')"
       data-bs-toggle="tooltip" [title]="action.isStart ? 'Stop Scanner' : 'Start Scanner'">
      <!-- <i class="fs-3 bi-qr-code-scan"></i> -->
      <i class="fs-3" [class]="action.isStart ? 'bi bi-camera-video-off' : 'bi bi-camera-video'"></i>
      <!-- <img
         [src]="action.isStart ? 'https://id1945.github.io/images/svg/camera-off.svg' : 'https://id1945.github.io/images/svg/camera-on.svg'"
         width="30px" /> -->
   </button>

   <!-- play/pause -->
   <button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart"
      [disabled]="!action.isStart" (click)="handle(action, action.isPause ? 'play' : 'pause')">
      <i class="fs-3" [class]="action.isPause ? 'bi bi-play-circle-fill': 'bi bi-pause-circle'"></i>
      <!-- <img
         [src]="action.isPause ? 'bi bi-play-circle-fill': 'bi bi-pause-circle'"
         width="30px" /> -->
   </button>

   <!-- isTorch -->
   <button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart"
      [disabled]="!action.isStart" (click)="action.isTorch = !action.isTorch; handle(action, 'torcher')"
       data-bs-toggle="tooltip" [title]="action.isTorch ? 'Flash On' : 'Flash Of'">
      <i class="fs-3 bi bi-lightning-fill"></i>
      <!-- <img
         [src]="action.isTorch ? 'https://id1945.github.io/images/svg/flash-off.svg' : 'https://id1945.github.io/images/svg/flash-on.svg'"
         width="30px" /> -->
   </button>

   <!-- download -->
   <button class="btn btn-info"  [class.btn-warning]="action.isStart"
       (click)="file.click()">
      <i class="fs-3 bi bi-images"></i>
      <!-- <img src="https://id1945.github.io/images/svg/capture.svg" width="30px" /> -->
   </button>
   <br>

   <!-- for select files -->
   <input #file type="file" (change)="onSelects(file.files)" [multiple]="'multiple'"
      [accept]="'.jpg, .png, .gif, .jpeg'" class="btn btn-success my-2 visually-hidden"/>
   <br>
   <!-- <input #file2 type="file" (change)="onSelects2(file2.files)" [multiple]="'multiple'"
      [accept]="'.jpg, .png, .gif, .jpeg'" class="btn btn-success my-2 " /> -->
   <br>
   <!-- display scanned image with ngx scanner -->
   <div *ngFor="let item of qrCodeResult">
      <ngx-scanner-qrcode #actionFile="scanner" [src]="item.url" [config]="config"
         (event)="onEvent($event)"></ngx-scanner-qrcode>
      <!-- <p class="data">{{ actionFile.data | async }}</p> -->
   </div>
<!-- display scanned image with image src  -->
   <!-- <div *ngFor="let item of qrCodeResult2">
      <img [src]="item.url" alt="" style="max-width: 100%">
      <p class="data">{{ item | json }}</p>
   </div> -->

   <!-- <ngx-scanner-qrcode #actionFile="scanner" (event)="onEvent($event)"
      [src]="'https://raw.githubusercontent.com/id1945/ngx-scanner-qrcode/master/supported-barcode-types.png'"
      [config]="config">
   </ngx-scanner-qrcode> -->
   <!-- <p class="data">{{ (actionFile.data | async | json) }}</p> -->

</div>